@model IEnumerable<NET105_BANSACH.Models.CartDetails>

@{
    ViewData["Title"] = "Giỏ hàng";
}

<h1>Giỏ hàng của @ViewData["TargetUser"]</h1>

<p>
    <a class="btn btn-secondary" asp-action="GoBack">Về trang trước</a>
</p>

@if (TempData["NotificationFail"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["NotificationFail"]
    </div>
}

<table class="table text-center table-bordered table-hover">
    <thead class="table-warning">
        <tr>
            <th>
                Tên sách
            </th>
            <th>
                Tên người dùng
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Delete" asp-route-Target="@item.CartDetailsID" class="btn btn-danger">Loại bỏ</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<a class="btn btn-success" asp-action="CreateBill">Xác nhận mua</a>

@* <div class="modal fade" id="Modal_Confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="Modal_ConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center" id="Modal_ConfirmationLabel">Xác nhận</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Hủy"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn mua? Thao tác này sẽ không thể khôi phục lại được.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <a type="button" class="btn btn-danger" asp-action="CreateBill">Xác nhận</a>
            </div>
        </div>
    </div>
</div> *@